*,
*::before,
*::after {
  box-sizing: border-box;
  backface-visibility: hidden;
}

html {
  font-size: 32px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0f0;
}

body > * {
  flex-shrink: 0;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.hide {
  opacity: 0;
}
