*,
*::before,
*::after {
  box-sizing: border-box;
  backface-visibility: hidden;
}

html {
  // font-size: 2vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

body > * {
  flex-shrink: 0;
}
