/** @define Stargate */

$stargate_size: 45rem;
$stargate_inner_ring_size: 33.3rem;
$stargate_horizon_size: $stargate_inner_ring_size;
$shevron_n: 9;
$shevron_angle: 360deg / $shevron_n;
$chevron_transition: 150ms;
$chevron_lock_transition: 200ms;
$screws_n: 6;
$screws_radius: 22.0275rem;
$screws_size: .27rem;
$screws_shadow: ();
$screws_spaces: (
  11deg,
  13deg,
  19deg,
  25deg,
  28deg,
  30deg,
);
$symboles_n: 39;
$symboles_angle: 360deg / $symboles_n;
$symboles_size_outer: 40.316rem;
$symboles_height: 2.55rem;
$outer_engravings_n: 300;
$outer_engravings_angle: 360deg / $outer_engravings_n;
$inner_engravings_n: 480;
$inner_engravings_angle: 360deg / $inner_engravings_n;
$triangles_n: 145;
$triangles_angle: 360deg / $triangles_n;

$c_gate_metal: #444;
$c_engraving: #383838;
$c_screw: #333;
$c_symbole: #666;
$c_symboles_background: #4a4a4a;
$c_symboles_border: #383838;
$c_chevron_plate: #383838;
$c_chevron_hook: #343434;
$c_chevron_light_border: #343434;
$c_chevron_light: #4e423e;
$c_chevron_light_active: #d98413;

@for $i from 1 through $screws_n {

  @for $j from 0 to $shevron_n {
    $d: ($shevron_angle * $j) - nth($screws_spaces, $i);
    $x: sin($d) * $screws_radius * -1;
    $y: cos($d) * $screws_radius * -1;
    $screws_shadow: $screws_shadow, $x $y $c_screw;
  }
}

.Stargate {
  position: relative;
  width: $stargate_size;
  height: $stargate_size;
  margin: .5rem;
  border-radius: 50%;
}

.Stargate-outerRing {
  width: $stargate_size;
  height: $stargate_size;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 .225rem darken($c_gate_metal, 10%),
    inset 0 0 0 .28125rem darken($c_gate_metal, 25%),
    inset 0 0 0 .675rem $c_gate_metal,
    inset 0 0 0 .73125rem $c_engraving,
    inset 0 0 0 1.575rem $c_gate_metal,
    inset 0 0 0 1.63125rem $c_engraving,
    inset 0 0 0 2.3625rem $c_gate_metal,
    inset 0 0 .25rem 2.3625rem rgba(0, 0, 0, .5);

  @extend %center;
}

.Stargate-engraving {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: top;

  @extend %center;

  .Stargate-engravingBefore,
  .Stargate-engravingAfter {
    position: absolute;
    display: block;
    width: .0625rem;
    background-color: $c_engraving;
    content: "";
    transform-origin: top;
  }

  .Stargate-engravingBefore {
    height: .9rem;
    transform: translateX(-50%) rotate($outer_engravings_angle * -.5) translateY(-21.8rem);
  }

  .Stargate-engravingAfter {
    height: .55rem;
    transform: translateX(-50%) translateY(-21.8rem);
  }
}

@for $i from 0 through $outer_engravings_n {
  .Stargate-engraving:nth-child(#{$i}) {
    transform: rotate($outer_engravings_angle * ($i - 1));
  }
}

.Stargate-engravingOval {
  position: absolute;
  top: 0;
  left: 0;
  width: .5rem;
  height: .6rem;
  overflow: hidden;
  transform-origin: top;

  transform: translateX(-50%) translateY(-21.55rem);

  .Stargate-engravingOvalBefore {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 300%;
    border-radius: 50%;
    content: "";
    transform: translateX(-50%);
    box-shadow: inset 0 0 0 .0625rem $c_engraving; // TODO: fix me
  }

  .Stargate-engravingOvalAfter {
    position: absolute;
    top: .3rem;
    left: 50%;
    width: 50%;
    height: 150%;
    border-radius: 50%;
    content: "";
    transform: translateX(-50%);
    box-shadow: inset 0 0 0 .0625rem $c_engraving;
  }
}

.Stargate-engravingLine {
  width: .12rem;
  height: .34rem;
  margin-top: .34rem * -.5;
  margin-left: .12rem * -.5;
  background-color: $c_engraving;

  @extend %center;

  &:nth-child(13n+1),
  &:nth-child(9n+1) {
    height: .12rem;
    margin-top: .12rem * -.5;
  }
}

@for $i from 0 through $inner_engravings_n {
  .Stargate-engravingLine:nth-child(#{$i}) {
    transform: rotate($inner_engravings_angle * $i) translateY(-17.4375rem);
  }
}

.Stargate-triangle {
  width: 0;
  height: 0;

  @extend %center;

  .Stargate-triangleBefore {
    display: block;
    border-right: .35rem solid transparent;
    border-bottom: .45rem solid $c_engraving;
    border-left: .35rem solid transparent;
    content: "";
    transform-origin: top;
    transform: translateY(-17.15rem);
  }

  &:nth-child(7n+1) .Stargate-triangleBefore,
  &:nth-child(9n+1) .Stargate-triangleBefore {
    border-top: .1875rem solid $c_engraving;
    border-right: .1875rem solid transparent;
    border-bottom: 0;
    border-left: .1875rem solid transparent;
    transform: translateY(-17rem);
  }
}

@for $i from 0 through $triangles_n {
  .Stargate-triangle:nth-child(#{$i}) {
    transform: rotate($triangles_angle * $i);
  }
}

.Stargate-symboles {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $symboles_size_outer;
  height: $symboles_size_outer;
  margin: $symboles_size_outer * -.5;
  font-size: 1.3rem;
  border: solid $c_symboles_background $symboles_height;
  border-radius: 50%;
  transform: rotate(0);
  transition: transform 4000ms ease-in-out;
  will-change: transform;
}

.Stargate-symbole {

  @extend %center;

  .Stargate-symboleBefore,
  .Stargate-symboleAfter {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: .0625rem;
    height: $symboles_height;
    background-color: $c_symboles_border;
    content: "";
    transform-origin: top;
  }
}

.Stargate-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $c_symbole;
  transform: translateX(-50%);
}

@for $i from 0 through $symboles_n {
  .Stargate-symbole:nth-child(#{$i}) {
    transform: rotate($symboles_angle * ($i - 1));

    .Stargate-symboleBefore {
      transform: translateX(-50%) rotate($symboles_angle * -.47) translateY($symboles_size_outer * -.5);
    }

    .Stargate-symboleAfter {
      transform: translateX(-50%) rotate($symboles_angle * .47) translateY($symboles_size_outer * -.5);
    }

    .Stargate-svg {
      transform: translate(-50%, -19.6rem);
    }
  }
}

.Stargate-screws {
  width: $screws_size;
  height: $screws_size;
  border-radius: 50%;
  box-shadow: $screws_shadow;

  @extend %center;
}

.Stargate-chevron {
  transform-origin: top;
  will-change: transform;

  @extend %center;
}

@for $i from 0 through $shevron_n {
  .Stargate-chevron:nth-child(#{$i}) {
    transform: rotate($shevron_angle * ($i - 1)) translateY(-22.75rem);
  }
}

.Stargate-chevronPlate {
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 3.8rem;
  clip-path: polygon(0% 0%, 43% 0%, 50% 100%, 57% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-image:
    url(
      "data:image/svg+xml,
      <svg xmlns='http://www.w3.org/2000/svg'>
        <rect fill='#{$c_chevron_plate}' x='0' y='0' width='100%' height='100%'/>
      </svg>"
    );
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 17.15%;
  border-radius: 50%;
  transform: translateX(-50%);
  contain: strict;
}

.Stargate-chevronHook {
  position: absolute;
  top: .65rem;
  width: 4.23rem;
  height: 3.2rem;
  clip-path:
    polygon(
      0% 0%,
      25% 0%,
      39% 68%,
      61% 68%,
      75% 0%,
      100% 0%,
      68% 100%,
      32% 100%
    );
  background-image:
    url(
      "data:image/svg+xml,
      <svg xmlns='http://www.w3.org/2000/svg'>
        <g fill='#{$c_chevron_light}' width='100%' height='100%'>
          <rect x='0' y='0%' width='100%' height='4%'></rect>
          <rect x='0' y='28%' width='100%' height='4%'></rect>
          <rect x='0' y='56%' width='100%' height='4%'></rect>
          <rect x='0' y='14%' width='100%' height='4%'></rect>
          <rect x='0' y='42%' width='100%' height='4%'></rect>
          <rect x='0' y='70%' width='100%' height='4%'></rect>
        </g>
      </svg>"
    ),
    url(
      "data:image/svg+xml,
      <svg xmlns='http://www.w3.org/2000/svg'>
        <rect fill='#{$c_chevron_hook}' x='0' y='0' width='100%' height='100%'/>
      </svg>"
    );
  background-position:
    0 20%,
    0 0;
  background-repeat: no-repeat;
  background-size:
    100% 56%,
    100% 100%;
  transform: translateX(-50%);
  transition: transform $chevron_lock_transition;
  will-change: transform, opacity, background;

  .Stargate-chevronHookBefore {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1.525rem;
    height: 1.025rem;
    clip-path:
      polygon(
        20% 0%,
        80% 0%,
        100% 100%,
        0% 100%
      );
    background-color: lighten($c_chevron_hook, 3%);
    content: "";
    transform: translateX(-50%);
  }

  .Stargate-chevron.is-open & {
    transform: translateX(-50%) translateY(.5rem);
  }
}

.Stargate-chevronHookActive {

  @extend .Stargate-chevronHook;

  background-image:
    url(
      "data:image/svg+xml,
      <svg xmlns='http://www.w3.org/2000/svg'>
        <g fill='#{$c_chevron_light_active}' width='100%' height='100%'>
          <rect x='0' y='0%' width='100%' height='4%'></rect>
          <rect x='0' y='28%' width='100%' height='4%'></rect>
          <rect x='0' y='56%' width='100%' height='4%'></rect>
          <rect x='0' y='14%' width='100%' height='4%'></rect>
          <rect x='0' y='42%' width='100%' height='4%'></rect>
          <rect x='0' y='70%' width='100%' height='4%'></rect>
        </g>
      </svg>"
    ),
    url(
      "data:image/svg+xml,
      <svg xmlns='http://www.w3.org/2000/svg'>
        <rect fill='#{$c_chevron_hook}' x='0' y='0' width='100%' height='100%'/>
      </svg>"
    );
  opacity: 0;
  transition: opacity $chevron_transition;

  .Stargate-chevron.is-active & {
    opacity: 1;
  }

  .Stargate-chevron.is-open & {
    transform: translateX(-50%) translateY(.5rem);
  }
}

.Stargate-chevronLight {
  position: absolute;
  top: -.1rem;
  left: 50%;
  width: 2.26rem;
  height: 2.78rem;
  clip-path:
    polygon(
      2% 0%,
      98% 0%,
      65% 100%,
      35% 100%
    );
  background-color: $c_chevron_light_border;
  transform: translateX(-50%);
  transition: transform $chevron_lock_transition;

  .Stargate-chevron.is-open & {
    transform: translateX(-50%) translateY(-.5rem);
  }
}

.Stargate-chevronLightBefore,
.Stargate-chevronLightAfter {
  position: absolute;
  top: -.05rem;
  left: 50%;
  width: 1.8rem;
  height: 2.3rem;
  clip-path:
    polygon(
      2% 0%,
      98% 0%,
      63% 100%,
      37% 100%
    );
  background-image:
    url(
      "data:image/svg+xml,
      <svg xmlns='http://www.w3.org/2000/svg'>
        <rect fill='#{lighten($c_chevron_light, 5%)}' x='0' y='0%' width='100%' height='15%'></rect>
        <rect fill='#{$c_chevron_light}' x='0' y='15%' width='100%' height='30%'></rect>
        <rect fill='#{darken($c_chevron_light, 5%)}' x='0' y='45%' width='100%' height='55%'></rect>
      </svg>"
    );
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: translateX(-50%);
  transition: background 500ms;
}

.Stargate-chevronLightAfter {
  background-image:
    url(
      "data:image/svg+xml,
      <svg xmlns='http://www.w3.org/2000/svg'>
        <rect fill='#{lighten($c_chevron_light_active, 5%)}' x='0' y='0%' width='100%' height='15%'></rect>
        <rect fill='#{$c_chevron_light_active}' x='0' y='15%' width='100%' height='30%'></rect>
        <rect fill='#{darken($c_chevron_light_active, 5%)}' x='0' y='45%' width='100%' height='55%'></rect>
      </svg>"
    );
  opacity: 0;
  transition: $chevron_transition;
}

.Stargate-chevron.is-active .Stargate-chevronLightAfter {
  opacity: 1;
}

.Stargate-innerRing {
  width: $stargate_inner_ring_size;
  height: $stargate_inner_ring_size;
  border-radius: 50%;
  box-shadow:
    0 0 0 1.0125rem $c_gate_metal,
    0 0 .25rem 1.0125rem rgba(0, 0, 0, .5);

  @extend %center;
}

.Stargate-horizon {
  display: block;
  width: $stargate_horizon_size;
  height: $stargate_horizon_size;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 300ms;

  @extend %center;

  &.is-active {
    opacity: 1;
  }
}

.Stargate-video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 104%;
  transform: translate(-50%, -50%);
}

.Stargate-button {
  position: fixed;
  right: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vh;
  height: 5vh;
  font-size: 1.5vh;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.Stargate-button--go {
  top: 1vh;
  background-color: #080;
}

.Stargate-button--stop {
  top: 7vh;
  background-color: #b00;
}

.Stargate-button--toggleChevrons {
  top: 13vh;
  background-color: #008;
}
