c-stargate.Stargate
  .Stargate-symboles
    - for (var i = 1; i <= 39; ++i)
      .Stargate-symbole
        //- Glyphs are taken from http://stargate.wikia.com/wiki/Glyph
        svg.Stargate-svg.Svg(class="Svg--"+i)
          use("xmlns:xlink"="http://www.w3.org/1999/xlink",
            "xlink:href"="svg-sprite/symbol/svg/sprite.symbol.svg#"+i,
            :role="img")
  .Stargate-outerRing
  .Stargate-screws
  .Stargate-innerRing
  .Stargate-horizon
  .Stargate-button
    = "Go"
