- var symboles_n = 39;
- var outerEngravings_n = 300;
- var innerEngravings_n = 480;
- var triangles_n = 145;
- var shevrons_n = 12;

c-stargate.Stargate
  .Stargate-symboles
    - for (var i = 1; i <= symboles_n; ++i)
      .Stargate-symbole
        //- Glyphs are taken from http://stargate.wikia.com/wiki/Glyph
        svg.Stargate-svg.Svg(class="Svg--"+i)
          use("xmlns:xlink"="http://www.w3.org/1999/xlink",
            "xlink:href"="svg-sprite/symbol/svg/sprite.symbol.svg#"+i,
            :role="img")
  .Stargate-outerRing
    .Stargate-outerEngraving
      - for (var i = 1; i <= outerEngravings_n; ++i)
        .Stargate-engraving
          .Stargate-engravingOval
  .Stargate-innerRing
    .Stargate-innerEngraving
      - for (var i = 1; i <= innerEngravings_n; ++i)
        .Stargate-engravingLine
    .Stargate-triangles
      - for (var i = 1; i <= triangles_n; ++i)
        .Stargate-triangle

  .Stargate-screws
  .Stargate-chevrons
    - for (var i = 1; i <= shevrons_n; ++i)
      .Stargate-chevron.is-active
        .Stargate-chevronHook
        .Stargate-chevronHookActive
        .Stargate-chevronPlate
        .Stargate-chevronLight
  .Stargate-horizon
    video.Stargate-video(loop)
      source(src="assets/horizon.mp4" type="video/mp4")
