/** @define Stargate */

$stargate_size: 90vh;
$stargate_inner_ring_size: $stargate_size * .74;
$stargate_horizon_size: $stargate_inner_ring_size;
$shevron_n: 9;
$screws_n: 6;
$screws_radius: $stargate_size * .5 * .978;
$screws_size: $stargate_size * .00625;
$screws_shadow: ();
$screws_spaces: (
  11deg,
  13deg,
  19deg,
  25deg,
  28deg,
  30deg,
);
$symboles_n: 39;
$symboles_d: 360deg / $symboles_n;
$symboles_size_outer: $stargate_size - ($stargate_size * .105);
$symboles_size_inner: $stargate_size - ($stargate_size * .215);
$symboles_height: ($symboles_size_outer - $symboles_size_inner) / 2;

@for $i from 1 through $screws_n {

  @for $j from 0 to $shevron_n {
    $d: (360deg / $shevron_n * $j) - nth($screws_spaces, $i);
    $x: sin($d) * $screws_radius * -1;
    $y: cos($d) * $screws_radius * -1;
    $screws_shadow: $screws_shadow, $x $y $c_gray_darker;
  }

}

.Stargate {
  position: relative;
  width: $stargate_size;
  height: $stargate_size;
  border-radius: 50%;
}

.Stargate-outerRing {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 $stargate_size * .005 $c_gray_darker,
    inset 0 0 0 $stargate_size * .00625 $c_gray_darkest,
    inset 0 0 0 $stargate_size * .015 $c_gray,
    inset 0 0 0 $stargate_size * .01625 $c_gray_dark,
    inset 0 0 0 $stargate_size * .035 $c_gray,
    inset 0 0 0 $stargate_size * .03625 $c_gray_dark,
    inset 0 0 0 $stargate_size * .0525 $c_gray,
    inset 0 0 $stargate_size * .005 $stargate_size * .0525 $c_gray_darkest;

  @extend _center;
}

.Stargate-symboles {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $symboles_size_outer;
  height: $symboles_size_outer;
  margin: $symboles_size_outer * -.5;
  border-radius: 50%;
  transform: rotate(0);
  box-shadow: inset 0 0 0 $stargate_size * .055 $c_gray;
  transition: transform 4000ms ease-in-out;
  will-change: transform;
}

.Stargate-symbole {

  @extend _center;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1px;
    height: $symboles_height;
    background-color: $c_gray_darker;
    content: "";
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1px;
    height: $symboles_height;
    background-color: $c_gray_darker;
    content: "";
  }
}

.Stargate-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $c_gray_lighter;
  transform: translateX(-50%);
}

@for $i from 0 through $symboles_n {
  .Stargate-symbole:nth-child(#{$i}) {
    transform: rotate($symboles_d * ($i - 1));

    &::before {
      transform: rotate($symboles_d * -.5) translate(-50%, $symboles_size_outer * -.5);
    }

    &::after {
      transform: rotate($symboles_d * .5) translate(-50%, $symboles_size_outer * -.5);
    }

    .Stargate-svg {
      transform: translate(-50%, ($symboles_size_inner * -.5) - ($symboles_height * .65));
    }
  }
}

.Stargate-screws {
  width: $screws_size;
  height: $screws_size;
  border-radius: 50%;
  box-shadow: $screws_shadow;

  @extend _center;
}

.Stargate-innerRing {
  width: $stargate_inner_ring_size;
  height: $stargate_inner_ring_size;
  border-radius: 50%;
  box-shadow:
    0 0 0 $stargate_size * .0225 $c_gray,
    0 0 $stargate_size * .005 $stargate_size * .0225 $c_gray_darkest;

  @extend _center;
}

.Stargate-horizon {
  width: $stargate_horizon_size;
  height: $stargate_horizon_size;
  background-color: #33f;
  border-radius: 50%;

  @extend _center;
}
