.Svg--1 {
  width: calc(47 / 51 * 1em);
  height: 1em;
}

.Svg--10 {
  width: calc(161 / 166 * 1em);
  height: 1em;
}

.Svg--11 {
  width: calc(100 / 182 * 1em);
  height: 1em;
}

.Svg--12 {
  width: calc(166 / 172 * 1em);
  height: 1em;
}

.Svg--13 {
  width: calc(111 / 172 * 1em);
  height: 1em;
}

.Svg--14 {
  width: calc(168 / 150 * 1em);
  height: 1em;
}

.Svg--15 {
  width: calc(192 / 142 * 1em);
  height: 1em;
}

.Svg--16 {
  width: calc(192 / 95 * 1em);
  height: 1em;
}

.Svg--17 {
  width: calc(124 / 172 * 1em);
  height: 1em;
}

.Svg--18 {
  width: calc(152 / 172 * 1em);
  height: 1em;
}

.Svg--19 {
  width: calc(214 / 111 * 1em);
  height: 1em;
}

.Svg--2 {
  width: calc(150 / 172 * 1em);
  height: 1em;
}

.Svg--20 {
  width: calc(160 / 172 * 1em);
  height: 1em;
}

.Svg--21 {
  width: calc(190 / 164 * 1em);
  height: 1em;
}

.Svg--22 {
  width: calc(208 / 72 * 1em);
  height: 1em;
}

.Svg--23 {
  width: calc(168 / 170 * 1em);
  height: 1em;
}

.Svg--24 {
  width: calc(198 / 51 * 1em);
  height: 1em;
}

.Svg--25 {
  width: calc(146 / 160 * 1em);
  height: 1em;
}

.Svg--26 {
  width: calc(160 / 132 * 1em);
  height: 1em;
}

.Svg--27 {
  width: calc(203 / 82 * 1em);
  height: 1em;
}

.Svg--28 {
  width: calc(122 / 172 * 1em);
  height: 1em;
}

.Svg--29 {
  width: calc(206 / 88 * 1em);
  height: 1em;
}

.Svg--3 {
  width: calc(166 / 172 * 1em);
  height: 1em;
}

.Svg--30 {
  width: calc(123 / 171 * 1em);
  height: 1em;
}

.Svg--31 {
  width: calc(153 / 173 * 1em);
  height: 1em;
}

.Svg--32 {
  width: calc(205 / 120 * 1em);
  height: 1em;
}

.Svg--33 {
  width: calc(180 / 125 * 1em);
  height: 1em;
}

.Svg--34 {
  width: calc(182 / 140 * 1em);
  height: 1em;
}

.Svg--35 {
  width: calc(222 / 58 * 1em);
  height: 1em;
}

.Svg--36 {
  width: calc(88 / 172 * 1em);
  height: 1em;
}

.Svg--37 {
  width: calc(76 / 172 * 1em);
  height: 1em;
}

.Svg--38 {
  width: calc(209 / 168 * 1em);
  height: 1em;
}

.Svg--39 {
  width: calc(206 / 171 * 1em);
  height: 1em;
}

.Svg--4 {
  width: calc(172 / 171 * 1em);
  height: 1em;
}

.Svg--5 {
  width: calc(140 / 174 * 1em);
  height: 1em;
}

.Svg--6 {
  width: calc(158 / 171 * 1em);
  height: 1em;
}

.Svg--7 {
  width: calc(184 / 177 * 1em);
  height: 1em;
}

.Svg--8 {
  width: calc(189 / 143 * 1em);
  height: 1em;
}

.Svg--9 {
  width: calc(179 / 170 * 1em);
  height: 1em;
}

