<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(content="width=device-width,initial-scale=1" name="viewport")
    title CSStargate
    link(rel="stylesheet" href="index.css")
  body
    include components/github-corner/github-corner.jade
    .wrap
      include components/stargate/stargate.jade
      include components/dhd/dhd.jade

    script(src="index.js")
    script(src="http://codepen.io/schoenwaldnils/pen/8af2bbd38594ed38c02b856e6c1a49dc.js")
